body {
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
table{
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
form{
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}
a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
.container {
	width: 960px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
header {
	background-color: #A0A0A0;
}
.sidebar1 {
	float: left;
	width: 250px;
	background-color: #E0E0E0;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 600px;
	float: left;
}
aside {
	background-color: #E0E0E0;
	padding: 0px 0;
}
.content ul, .content ol {
	padding: 0 15px 15px 40px;
}
ul.navi {
	list-style: none;
	border-top: 1px solid #666;
	margin-bottom: 15px;
}
ul.navi li {
	border-bottom: 1px solid #666;
}
ul.navi a, ul.navi a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	width: 230px;
	text-decoration: none;
	background-color: #B8B8B8;
}
ul.navi a:hover, ul.navi a:active, ul.navi a:focus {
	background-color: #808080;
	color: #FFF;
}
footer {
	padding: 10px 0;
	background-color: grey;
	position: relative;
	clear: both;
}
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
header, section, footer, aside, article, figure {
	display: block;
}
div.footer{
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    size: 2px;
	height: 25px;
    background: #595959;
    text-align: center;
}